{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="card text-bg-dark mb-3 col-12 justify-content-center w-50 pt-5" style="margin: auto;">

  <img src="{{ post.img.url }}" class="card-img-top w-50  " alt="Image" style="margin: auto;">
  <div class="card-body">
    <h5 class="card-title text-warning">{{post.title}}</h5>
    <p class="card-text">{{post.content }} </p>
    <p>Author: {{post.author.first_name}} {{post.author.last_name}}</p>
    <p>Category: <br>
      {% for cat in post.category.all %}

      <button class="btn btn-primary btn-sm" disabled style="padding: 2px;"> {{cat.name}}</button>
      {% endfor %}
    </p>
    <div class="card" style="background-color: rgb(167, 166, 166);">
      <h5 class="">Total: {{comments|length}} comments</h5>
     
        
       {% for comment in comments %}
       <div class="card-body border-5 p-3" >
       <h6><b>{{comment.name}}</b>   {{comment.created_on}}</h6>
       <p>{{comment.body}}</p>
       </div>
       {% endfor %}
       
      
    </div>
    <form method="post" class="text-white m-3">
      <h1>Add Comment</h1>
      {% csrf_token %}
      {{comment_form | crispy}}
      <button class="btn btn-warning">Submit</button>
  
    </form>
  </div>


  {% endblock %}