{% extends 'base.html' %}
{% load static %}

  {% block content  %}

<div class="d-flex flex-wrap px-5 pt-3 align-items-center justify-content-center" method="POST">

  <div class="col-5 text-white pl-5">
    <h1>Welcome to SRK Blogs</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint fuga odio illo aliquid voluptate aut laudantium reiciendis error commodi doloribus fugiat a omnis fugit animi excepturi quasi dolor optio, quisquam amet quibusdam. Dolor alias laboriosam sint totam nobis, obcaecati dicta velit sequi? Laudantium temporibus eaque consequuntur numquam cumque omnis corrupti dolorem, culpa minima itaque beatae ex, in atque perferendis! Suscipit libero, vitae eos cupiditate voluptas fugiat dolor ab soluta perferendis error molestias pariatur saepe nam. Corrupti, omnis ad officia doloribus velit corporis neque obcaecati saepe illo esse similique est, quidem totam, porro optio ut! Qui quibusdam corrupti tempora et perferendis.</p>
  </div>
  <div class="col-4">
    <img src="{% static 'header.png' %}" alt="">
  </div>
  
</div>


 

  <h3 class="d-flex justify-content-center text-white">Categories</h3>
  <div class="d-flex justify-content-center  " style="padding: 3px;">      
    {% for cat in category %}
    <input type="checkbox" class="btn-check bg-dark" id="{{cat.id}}" autocomplete="off">
   
    <label class="btn btn-secondary " for="{{cat.id}}" >
      
      <a href="{% url 'category_wise_post' cat.slug %}  " class="text-white text-decoration-none">
        {{cat.name}}
      </a>
    </label><br>
    {% endfor %}
    </div>


<h4 class="d-flex justify-content-center p-3 text-light">Total Results: {{data | length}} </h4>


  <div class="d-flex flex-wrap justify-content-center ">
    {% for post in data  %} 
    <div class="card text-bg-dark mb-3 " style="width: 20rem;margin: 20px;padding: 2px;margin-top: 5%;height: fit-content;">
      
      <img src="{{ post.img.url }}" class="card-img-top" alt="Image">
        <div class="card-body">
          <h5 class="card-title "><a href="{% url 'detail_post' post.id %}" class="text-decoration-none text-warning">{{post.title | truncatewords:4}}</a></h5>
          <p class="card-text">{{post.content |truncatewords:10}} </p>
          <p>Author:  {{post.author.first_name}} {{post.author.last_name}}</p>
          <p>Category: <br>
            {% for cat in post.category.all %}
           
            <button class="btn btn-primary btn-sm" disabled style="padding: 2px;"> {{cat.name}}</button>
            {% endfor %}
          </p>
        
        </div>
    
      
      </div>
      {% endfor %} 
  </div>



{% endblock %}

